<footer class="pb-24 bg-white xl:pb-16">
  <div class="max-w-5xl px-4 mx-auto">
    <div class="py-6 border-b border-black lg:justify-start">
      <nav class="items-center justify-center hidden pl-6 leading-none divide-black lg:divide-x lg:flex footer-navigation">
        <a class="px-4 js-moveto" id="footer-project">案件</a>
        <a class="px-4 js-moveto" id="footer-flow">お申込みの流れ</a>
      </nav>
    </div>
    <div class="justify-between pt-6 lg:flex itemcenter">
      <p class="mb-4 text-xs text-center lg:text-left text-greyish-brown lg:mb-0">Copyright © Univis Group. All rights reserved.</p>
      <div class="lg:flex lg:space-x-4">
        <a class="block mx-auto w-max text-greyish-brown" href="https://univis.co.jp/privacy-policy/" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a>
      </div>
    </div>
  </div>
</footer>
<div class="fixed inset-x-0 bottom-0 z-30 grid grid-cols-2 xl:hidden">
  <a class="inline-flex items-center justify-center py-5 leading-none text-white transition-colors gap-x-4 bg-dark-grey-blue hover:bg-dark-grey-blue-dark" href="tel:03-6459-0142"><i class="fas fa-phone-alt"></i><span class="leading-none ">03-6459-0142</span></a>
  <a class="inline-flex items-center justify-center py-5 leading-none text-white transition-colors gap-x-4 bg-deep-sea-blue hover:bg-deep-sea-blue-dark" id="footer-sp-contact"><i class="fas fa-envelope"></i><span class="leading-none">お問い合わせ</span></a>
</div>