<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TR7CX9F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header x-data class="fixed inset-x-0 top-0 z-40">
  <div class="flex">
    <div id="header-content" class="flex items-center flex-grow" style="background-color: rgba(255, 255, 255, 0);">
      <div class="site-branding pl-4">
        <h1 class="site-title">
          <a class="js-moveto" id="header-home">
            <img class="img-fluid hidden" id="header-logo" alt="ユニヴィスの案件ご紹介サービス" width="100" height="auto">
          </a>
        </h1>
      </div>
      <div class="flex ml-auto">
        <nav class="items-center hidden mr-8 leading-none gap-x-8 xl:flex">
          <a class="js-moveto" id="header-project">
            <i class="mr-3 fas fa-chevron-down"></i>案件
          </a>
          <a class="js-moveto" id="header-flow">
            <i class="mr-3 fas fa-chevron-down"></i>お申込みの流れ
          </a>
        </nav>
        <div class="hidden ml-auto xl:flex">
          <a class="inline-flex items-center px-5 py-5 leading-none text-white transition-colors gap-x-4 bg-dark-grey-blue hover:bg-dark-grey-blue-dark original" href="tel:03-6459-0142">
            <i class="fas fa-phone-alt"></i>
            <span class="text-lg leading-none">03-6459-0142</span>
            <i class="fas fa-chevron-right"></i>
          </a>
          <a class="inline-flex items-center px-5 py-5 leading-none text-white transition-colors gap-x-4 bg-deep-sea-blue hover:bg-deep-sea-blue-dark" id="header-contact">
            <i class="fas fa-envelope"></i>
            <span class="text-lg leading-none">コンサル登録</span>
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="pr-6 ml-auto text-right xl:hidden">
        <button class="flex flex-col justify-between w-12 menu-btn h-7" @click="$store.mobileNavigation.toggle();">
          <span :class="{ '-rotate-45 -translate-x-1 -translate-y-1': $store.mobileNavigation.isOpen }" class="block w-full h-px transition origin-top-right transform bg-black"></span>
          <span :class="{ 'opacity-0 -translate-x-4' : $store.mobileNavigation.isOpen }" class="block w-full h-px transition transform bg-black"></span>
          <span :class="{ 'rotate-45 -translate-x-1 translate-y-1': $store.mobileNavigation.isOpen }" class="block w-full h-px transition origin-bottom-right transform bg-black"></span>
        </button>
      </div>
    </div>
  </div>
</header>
<div x-data x-cloak x-show="$store.mobileNavigation.isOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" id="mobile-navigation" class="fixed inset-x-0 bottom-0 z-20 bg-white mobile-navigation top-14" :aria-hidden="!$store.mobileNavigation">
  <div class="grid px-6 py-10 text-2xl font-bold text-dark-grey-blue gap-y-6 mobile-navigation-bottom">
    <a class="js-moveto" @click="$store.mobileNavigation.toggle();" id="header-sp-project">案件</a>
    <a class="js-moveto" @click="$store.mobileNavigation.toggle();" id="header-sp-flow">お申込みの流れ</a>
  </div>
</div>