<!DOCTYPE html>
<html lang="ja">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!--メールフォームプロ用CSS-->
  <link rel="stylesheet" href="./mailform/mfp.statics/mailformpro.css" type="text/css">
</head>

<body>
  <%= htmlWebpackPlugin.options.header %>
  <main id="primary" class="mt-e84 site-main">
    <section class="relative pt-5 pb-4 bg-center bg-cover lg:pb-16 lg:mx-12 hero lg:pt-28 lg:-mb-44">
      <img src="./img/hero-frame-top-left-sp.svg" alt="" class="absolute top-0 lg:hidden left-2">
      <img src="./img/hero-frame-top-left.svg" alt="" class="absolute hidden lg:block top-5 left-5">
      <img src="./img/hero-frame-bottom-right-sp.svg" alt="" class="absolute lg:hidden right-5 top-72">
      <img src="./img/hero-frame-bottom-right.svg" alt="" class="absolute hidden lg:block right-5 -bottom-36">
      <p class="mx-auto mt-16 mb-6 text-xl lg:ml-32 w-max lg:mx-0 lg:text-3xl">補助金に関心のある皆さまへ</p>
      <p class="mb-6 text-2xl font-medium text-center text-white lg:mb-6 lg:ml-32 lg:text-6xl lg:text-left">
        <span class="relative block px-3 py-2 mx-auto lg:px-5 lg:py-3 w-max lg:mx-0" style="background-color: rgb(41, 58, 82);">
          <span class="" style="opacity: 1; visibility: inherit;">各種補助金申請の</span>
          <span class="absolute inset-0 c-block-reveal-bg bg-dark-grey-blue"></span>
        </span><span class="relative block px-3 py-2 mx-auto lg:px-5 lg:py-3 w-max lg:mx-0" style="background-color: rgb(41, 58, 82);">
          <span class="" style="opacity: 1; visibility: inherit;">ご相談は、</span>
          <span class="absolute inset-0 c-block-reveal-bg bg-dark-grey-blue"></span>
        </span>
      </p>
      <p class="relative block mx-auto text-xl font-medium mb-28 lg:mb-8 lg:ml-32 lg:mx-0 lg:text-5xl text-dark-grey-blue w-max">
        <span class="c-marker" style="width: 100%;"></span>
        <span class="relative">
          ユニヴィスグループへ
        </span>
      </p>
      <p class="relative block mx-auto text-lg font-medium mb-28 p-4 lg:mb-0 lg:ml-32 lg:mx-0 lg:text-xl text-dark-grey-blue max-w-md lg:max-w-2xl lg:w-max bg-white bg-opacity-50">
        ユニヴィスグループは、会計・財務・ファイナンス・法務領域の<br class="hidden lg:block"/>
        コンサルティング分野にわたるプロフェッショナルファームです。
      </p>
      <div class="hidden lg:block px-4 pb-36 lg:gap-8 lg:absolute lg:right-20 lg:-bottom-12 lg:w-3/4 xl:w-2/3 lg:max-w-4xl lg:px-0 lg:pb-0">
        <div class="group flex justify-end">
          <iframe
            src="https://univis.co.jp/"
            class="w-[160px] h-[160px] rounded-full overflow-hidden border-2 border-white shadow-lg
                   transition-all duration-500 ease-in-out
                   group-hover:w-full group-hover:h-[450px] group-hover:rounded-lg bg-white"
          ></iframe>
          <div>
            <a
              href="https://univis.co.jp/" target="_blank"
              class="hidden group-hover:inline-block mt-2 px-2 py-2 text-sm text-gray-800 bg-white shadow-md rounded transition
                     duration-300 hover:bg-gray-100"
            >
              <svg xmlns="http://www.w3.org/2000/svg" 
                   class="w-6 h-6 text-gray-800" 
                   fill="none" 
                   viewBox="0 0 24 24" 
                   stroke="currentColor" 
                   stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7 17L17 7m0 0H7m10 0v10" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
    <div class="lg:pb-80 bg-deep-sea-blue"></div>
    <section id="features">
      <div class="pt-12 pb-36 bg-bottom bg-cover lg:pt-32 lg:pb-60 lead">
        <div class="container px-3 mx-auto lg:px-6">
          <h2 data-aos="fade-up" class="relative mb-12 leading-relaxed text-center lg:mb-20 rfs:text-4xl">支援の特徴・強み<span class="absolute w-40 h-0.5 transform -translate-x-1/2 bg-sky-600 -bottom-6 left-1/2"></span></h2>
          <ul class="max-w-full mx-auto lg:text-2xl lg:min-w-[800px] lg:w-max space-y">
            <li data-aos="fade-up" class="flex flex-col gap-2 items-baseline py-3 border-b border-black border-dotted lg:py-5">
              <div>
                <i class="mr-6 fas fa-check text-dark-blue"></i>
                <span class="c-normal-marker-blue font-bold">グループの総合力を活かしたご支援</span>
              </div>
              <p class="px-12 w-full text-base lg:text-lg max-w-4xl mx-auto">
                事業計画の作成や経営戦略の策定等の複数の支援実績。<br/>
                社内に在籍する複数の戦略・人財・会計・ITコンサルタント。<br/>
                このようなグループの総合力を活かし、採択の可能性を高める申請書類の作成をサポート致します。
              </p>
            </li>
            <li data-aos="fade-up" class="flex flex-col gap-2 items-baseline py-3 border-b border-black border-dotted lg:py-5">
              <div>
                <i class="mr-6 fas fa-check text-dark-blue"></i>
                <span class="c-normal-marker-blue font-bold">豊富な実績と高い採択率</span>
              </div>
              <p class="px-12 w-full text-base lg:text-lg max-w-4xl mx-auto">
                支援実績200件以上、平均採択率約70%<br/>
                採択率の低い補助金もしっかりサポート致します。<br/>
                例① 事業再構築補助金12次公募62%（全国平均約26%）<br/>
                例② ものづくり補助金18次公募66%（全国平均約35%）
              </p>
            </li>
            <li data-aos="fade-up" class="flex flex-col gap-2 items-baseline py-3 border-b border-black border-dotted lg:py-5">
              <div>
                <i class="mr-6 fas fa-check text-dark-blue"></i>
                <span class="c-normal-marker-blue font-bold">フルサポート可能</span>
              </div>
              <p class="px-12 w-full text-base lg:text-lg max-w-4xl mx-auto">
                補助金の選定から申請書類の作成、申請作業、報告作業までフルサポート可能です。<br/>
                はじめて補助金をご活用される方も安心してお任せいただけます。
              </p>
            </li>
            <li data-aos="fade-up" class="flex flex-col gap-2 items-baseline py-3 border-b border-black border-dotted lg:py-5">
              <div>
                <i class="mr-6 fas fa-check text-dark-blue"></i>
                <span class="c-normal-marker-blue font-bold">税制優遇制度の対応</span>
              </div>
              <p class="px-12 w-full text-base lg:text-lg max-w-4xl mx-auto">
                補助金と併せて活用することで法人税や固定資産税の優遇が可能な「経営力向上計画」や「先端設備等導入計画」の申請サポートも可能です。<br/>
                補助金による資金調達と税制優遇制度による節税により、お客様の資金面をバックアップします。<br/>
                ※税制優遇制度の申請支援には別途費用が発生します。
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="relative py-16 pl-4 c-cta bg-dark-grey-blue xl:pl-24">
      <div class="container max-w-5xl px-4 mx-auto">
        <div data-aos="fade-up" class="max-w-5xl px-6 py-16 bg-white shadow-lg">
          <h2 class="mb-5 text-2xl font-bold text-center text-sky-950 lg:text-3xl"><span class="inline-block">ユニヴィスグループの補助金申請支援</span></h2>
          <p class="mb-10 lg:text-center">ご相談は、お電話またはお問い合わせフォームで承っております。</p>
          <div class="grid max-w-xl mx-auto gap-y-4 lg:grid-cols-2 gap-x-8">
            <a class="inline-flex items-center justify-center px-5 leading-none text-white transition-colors py-7 gap-x-4 bg-dark-grey-blue hover:bg-dark-grey-blue-dark" href="tel:03-6459-0142"><i class="fas fa-phone-alt"></i><span class="text-lg leading-none">03-6459-0142</span><i class="fas fa-chevron-right"></i></a>
            <a class="inline-flex items-center justify-center px-5 leading-none text-white transition-colors py-7 gap-x-4 bg-deep-sea-blue hover:bg-deep-sea-blue-dark js-moveto" id="link-contact-a"><i class="fas fa-envelope"></i><span class="text-lg leading-none">お問い合わせ</span><i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="pt-12 pb-12 bg-white">
        <div class="container px-3 mx-auto lg:px-6">
          <h2 data-aos="fade-up" class="relative mb-12 leading-relaxed text-center lg:mb-20 rfs:text-4xl">支援可能な補助金（一部抜粋）<span class="absolute w-40 h-0.5 transform -translate-x-1/2 bg-sky-600 -bottom-6 left-1/2"></span></h2>
          <div class="mx-auto w-full max-w-3xl py-8 px-10 bg-white rounded-xl shadow-[0_10px_20px_rgba(255,255,255,0.2)]  text-gray-900 text-lg lg:text-xl">
            <ul class="space-y-2 list-disc list-inside">
              <li>ものづくり補助金</li>
              <li>中小企業新事業進出促進補助金</li>
              <li>事業承継・M&A補助金</li>
              <li>中小企業成長加速化補助金</li>
              <li>躍進的な事業推進のための設備支援事業（東京都）</li>
              <li>中小企業生産性向上促進事業費補助金（神奈川県）</li>
              <li>その他</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="price">
      <div class="pt-12 pb-12 bg-deep-sea-blue">
        <div class="container px-3 mx-auto lg:px-6 text-white">
          <h2 data-aos="fade-up" class="relative mb-12 leading-relaxed text-center lg:mb-20 rfs:text-4xl">支援費用<span class="absolute w-40 h-0.5 transform -translate-x-1/2 bg-sky-600 -bottom-6 left-1/2"></span></h2>
          <div class="mx-auto w-full max-w-3xl">
            <table class="w-full text-center table-fixed">
              <tbody>
                <tr>
                  <th class="w-36 border border-brownish-grey text-lg lg:text-xl text-white bg-dark-grey-blue p-4">
                    着手金
                  </th>
                  <td class="w-36 border border-brownish-grey text-xl lg:text-2xl bg-very-light-blue text-dark-grey-blue p-4">
                    15万円（税別）
                  </td>
                </tr>
                <tr>
                  <th class="border border-brownish-grey text-lg lg:text-xl text-white bg-dark-grey-blue p-4">
                    成功報酬
                  </th>
                  <td class="border border-brownish-grey text-xl lg:text-2xl bg-very-light-blue text-dark-grey-blue p-4">
                    補助金額の10%（税別）
                  </td>
                </tr>
                <tr>
                  <th class="border border-brownish-grey text-lg lg:text-xl text-white bg-dark-grey-blue p-4">
                    採択後支援（任意）
                  </th>
                  <td class="border border-brownish-grey text-xl lg:text-2xl bg-very-light-blue text-dark-grey-blue p-4">
                    40万円（税別）
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-right">
              <small>
                ※一部補助金では支援費用が異なります。<br/>
                ※成功報酬の下限金額は80万円（税別）となります。
              </small>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="flow">
      <div class="py-12 lg:py-24">
        <div class="container max-w-4xl px-4 mx-auto">
          <h2 data-aos="fade-up" class="mb-10 leading-relaxed text-center lg:mb-20 rfs:text-4xl">お申込みの流れ</h2>
          <div class="space-y-6 lg:space-y-10">
            <div class="relative bg-white rounded-2xl border border-gray-200 border border-gray-200 shadow-xl p-8 text-center">
              <div class="hidden md:flex absolute left-10 top-1/2 transform -translate-y-1/2 w-20 h-16 bg-dark-grey-blue text-white text-xl lg:text-3xl font-bold rounded-full items-center justify-center shadow">01</div>
              <p class="text-xl lg:text-2xl font-semibold text-gray-800">お問い合わせ</p>
            </div>
            <img class="mx-auto" src="./img/arrow-lg-down-blue.svg" width="86" height="auto" alt="down">
            <div class="relative bg-white rounded-2xl border border-gray-200 shadow-xl p-8 text-center">
              <div class="hidden md:flex absolute left-10 top-1/2 transform -translate-y-1/2 w-20 h-16 bg-dark-grey-blue text-white text-xl lg:text-3xl font-bold rounded-full items-center justify-center shadow">02</div>
              <p class="text-xl lg:text-2xl font-semibold text-gray-800">初回面談（ヒアリング、補助金選定、制度説明）</p>
            </div>
            <img class="mx-auto" src="./img/arrow-lg-down-blue.svg" width="86" height="auto" alt="down">
            <div class="relative bg-white rounded-2xl border border-gray-200 shadow-xl p-8 text-center">
              <div class="hidden md:flex absolute left-10 top-1/2 transform -translate-y-1/2 w-20 h-16 bg-dark-grey-blue text-white text-xl lg:text-3xl font-bold rounded-full items-center justify-center shadow">03</div>
              <p class="text-xl lg:text-2xl font-semibold text-gray-800">ご契約</p>
            </div>
            <img class="mx-auto" src="./img/arrow-lg-down-blue.svg" width="86" height="auto" alt="down">
            <div class="relative bg-white rounded-2xl border border-gray-200 shadow-xl p-8 text-center">
              <div class="hidden md:flex absolute left-10 top-1/2 transform -translate-y-1/2 w-20 h-16 bg-dark-grey-blue text-white text-xl lg:text-3xl font-bold rounded-full items-center justify-center shadow">04</div>
              <p class="text-xl lg:text-2xl font-semibold text-gray-800">初回インタビュー</p>
            </div>
            <img class="mx-auto" src="./img/arrow-lg-down-blue.svg" width="86" height="auto" alt="down">
            <div class="relative bg-white rounded-2xl border border-gray-200 shadow-xl p-8 text-center">
              <div class="hidden md:flex absolute left-10 top-1/2 transform -translate-y-1/2 w-20 h-16 bg-dark-grey-blue text-white text-xl lg:text-3xl font-bold rounded-full items-center justify-center shadow">05</div>
              <p class="text-xl lg:text-2xl font-semibold text-gray-800">初稿提出・再打合わせ</p>
            </div>
            <img class="mx-auto" src="./img/arrow-lg-down-blue.svg" width="86" height="auto" alt="down">
            <div class="relative bg-white rounded-2xl border border-gray-200 shadow-xl p-8 text-center">
              <div class="hidden md:flex absolute left-10 top-1/2 transform -translate-y-1/2 w-20 h-16 bg-dark-grey-blue text-white text-xl lg:text-3xl font-bold rounded-full items-center justify-center shadow">06</div>
              <p class="text-xl lg:text-2xl font-semibold text-gray-800">最終稿納品</p>
            </div>
            <img class="mx-auto" src="./img/arrow-lg-down-blue.svg" width="86" height="auto" alt="down">
            <div class="relative bg-white rounded-2xl border border-gray-200 shadow-xl p-8 text-center">
              <div class="hidden md:flex absolute left-10 top-1/2 transform -translate-y-1/2 w-20 h-16 bg-dark-grey-blue text-white text-xl lg:text-3xl font-bold rounded-full items-center justify-center shadow">07</div>
              <p class="text-xl lg:text-2xl font-semibold text-gray-800">補助金申請作業</p>
            </div>
            <div class="text-right">
              <small>
                ※ご契約までは費用が発生致しません。<br/>
                ※打合わせ回数は補助金・お客様によって異なります。
              </small>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="relative py-16 pl-4 c-cta bg-dark-grey-blue xl:pl-24">
      <div class="container max-w-5xl px-4 mx-auto">
        <div data-aos="fade-up" class="max-w-5xl px-6 py-16 bg-white shadow-lg">
          <h2 class="mb-5 text-2xl font-bold text-center text-sky-950 lg:text-3xl"><span class="inline-block">ユニヴィスグループの補助金申請支援</span></h2>
          <p class="mb-10 lg:text-center">ご相談は、お電話またはお問い合わせフォームで承っております。</p>
          <div class="grid max-w-xl mx-auto gap-y-4 lg:grid-cols-2 gap-x-8">
            <a class="inline-flex items-center justify-center px-5 leading-none text-white transition-colors py-7 gap-x-4 bg-dark-grey-blue hover:bg-dark-grey-blue-dark" href="tel:03-6459-0142"><i class="fas fa-phone-alt"></i><span class="text-lg leading-none">03-6459-0142</span><i class="fas fa-chevron-right"></i></a>
            <a class="inline-flex items-center justify-center px-5 leading-none text-white transition-colors py-7 gap-x-4 bg-deep-sea-blue hover:bg-deep-sea-blue-dark js-moveto" id="link-contact-b"><i class="fas fa-envelope"></i><span class="text-lg leading-none">お問い合わせ</span><i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="py-12 lg:py-24 bg-gray-100">
        <div class="container max-w-6xl px-4 mx-auto">
          <h2 class="text-2xl font-medium c-title-1 lg:text-4xl">お問い合わせ
            <span class="c-title-1-bar"></span>
          </h2>
          <div>
            <form id="mailformpro" action="../mailform/mailformpro/mailformpro.cgi" method="POST">
              <div class="space-y-10 p-6">
                <div class="grid-cols-3 space-y-2 lg:grid lg:space-y-0">
                  <label class="flex items-center" for="company-name">企業名<span class="c-badge">必須</span></label>
                  <div class="lg:col-span-2">
                    <input type="text" class="mfp_element_text mfp_element_all" name="企業名" id="company-name" size="40" required="required" placeholder="例：株式会社ユニヴィス">
                  </div>
                </div>
                <div class="grid-cols-3 space-y-2 lg:grid lg:space-y-0">
                  <label class="flex items-center" for="department">部署</label>
                  <div class="lg:col-span-2">
                    <input type="text" class="mfp_element_text mfp_element_all" name="部署" id="department" size="40" placeholder="例：営業部">
                  </div>
                </div>
                <div class="grid-cols-3 space-y-2 lg:grid lg:space-y-0">
                  <label class="flex items-center" for="position">役職</label>
                  <div class="lg:col-span-2">
                    <input type="text" class="mfp_element_text mfp_element_all" name="役職" id="position" size="40" placeholder="例：部長">
                  </div>
                </div>
                <div class="grid-cols-3 space-y-2 lg:grid lg:space-y-0">
                  <label class="flex items-center" for="your-name">お名前<span class="c-badge">必須</span></label>
                  <div class="lg:col-span-2">
                    <input type="text" class="mfp_element_text mfp_element_all" name="お名前" id="your-name" size="40" required="required" placeholder="例：山田　太郎">
                  </div>
                </div>
                <div class="grid-cols-3 space-y-2 lg:grid lg:space-y-0">
                  <label class="flex items-center" for="your-phonetic-name">ふりがな<span class="c-badge">必須</span></label>
                  <div class="lg:col-span-2">
                    <input type="text" class="mfp_element_text mfp_element_all" name="ふりがな" id="your-phonetic-name" size="40" required="required" placeholder="例：やまだ　たろう">
                  </div>
                </div>
                <div class="grid-cols-3 space-y-2 lg:grid lg:space-y-0">
                  <label class="flex items-center" for="your-phone">お電話番号<span class="c-badge">必須</span></label>
                  <div class="lg:col-span-2">
                    <input type="tel" class="mfp_element_tel mfp_element_all" data-type="tel" name="電話番号" id="your-phone" size="40" data-min="9" required="required" placeholder="例：03-6459-0142">
                  </div>
                </div>
                <div class="grid-cols-3 space-y-2 lg:grid lg:space-y-0">
                  <label class="flex items-center" for="your-email">メールアドレス
                    <span class="c-badge">必須</span>
                  </label>
                  <div class="lg:col-span-2">
                    <input type="email" class="mfp_element_email mfp_element_all" data-type="email" name="email" id="your-email" size="40" required="required" placeholder="例：contact@univis.co.jp" />
                  </div>
                </div>
                <div class="items-start grid-cols-3 space-y-2 lg:grid lg:space-y-0">
                  <label class="flex items-center" for="message">お問い合わせ内容
                    <span class="c-badge">必須</span>
                  </label>
                  <div class="lg:col-span-2">
                    <textarea name="お問い合わせ内容" id="message" class="mfp_element_textarea mfp_element_all" cols="40" rows="10" required="required" placeholder="具体的なご相談内容をご記入ください。ご依頼したい内容を可能な限り詳細にご記入いただけますと、その後のご相談がスムーズに進みます。"></textarea>
                  </div>
                </div>
                <div class="space-y-2 lg:space-y-0">
                  <p class="mb-4 text-center">
                    ご入力いただいた個人情報は、お客様からのお問い合わせに対し適切に対応するために使用します。<br/>
                    詳しくは<a href="https://univis.co.jp/privacy-policy/" target="_blank" rel="noopener noreferrer" style="text-decoration:underline; text-decoration-color:#000;">プライバシーポリシー</a>をご確認ください。
                  </p>
                  <div class="flex justify-center">
                    <div><label><input type="checkbox" class="mb-1 mr-2" name="プライバシーポリシー" required="required">プライバシーポリシーに同意する</span></label></div>
                  </div>
                </div>
                <div class="mfp_buttons text-center">
                  <button type="submit" class="text-white text-lg bg-deep-sea-blue hover:bg-deep-sea-blue-dark py-3 px-12 mfp_element_submit mfp_element_all">送信</button>
                </div>
              </div>
            </form>
            <script type="text/javascript" id="mfpjs" src="../mailform/mailformpro/mailformpro.cgi" charset="UTF-8"></script>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-16 pb-10 lg:pt-28 lg:pb-14">
      <div class="max-w-5xl px-4 mx-auto">
        <h2 class="mb-12 text-xl text-center lg:text-3xl">会社概要</h2>
        <div class="grid gap-12 lg:grid-cols-12">
          <div class="lg:text-lg lg:col-span-7">
            <dl>
              <div class="py-5 border-t border-b lg:flex border-brown-grey">
                <dt class="w-32 mb-2 lg:text-center lg:mb-0">グループ名</dt>
                <dd class="text-greyish-brown">ユニヴィスグループ（Univis Group）</dd>
              </div>
              <div class="py-5 border-b lg:flex border-brown-grey">
                <dt class="w-32 mb-2 lg:text-center lg:mb-0">所在地</dt>
                <dd class="text-greyish-brown">
                  <address class="not-italic">〒105-0001<br>東京都港区虎ノ門3-8-8 NTT虎ノ門ビル6階</address>
                </dd>
              </div>
              <div class="py-5 border-b lg:flex border-brown-grey">
                <dt class="w-32 mb-2 lg:text-center lg:mb-0">電話番号</dt>
                <dd class="text-greyish-brown"><a class="transition-opacity hover:opacity-70" href="tel:03-6459-0142">03-6459-0142</a></dd>
              </div>
              <div class="py-5 border-b lg:flex border-brown-grey">
                <dt class="w-32 mb-2 lg:text-center lg:mb-0">メール</dt>
                <dd class="text-greyish-brown">contact@univis.co.jp</dd>
              </div>
            </dl>
          </div>
          <div class="lg:col-span-5">
            <div class="mx-auto aspect-w-10 aspect-h-9">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12965.752927661608!2d139.7477196!3d35.66621!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x86e4a45321b9ec8b!2z5qCq5byP5Lya56S-44Om44OL44O044Kj44K5!5e0!3m2!1sja!2sjp!4v1634475306868!5m2!1sja!2sjp" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.footer %>
</body>

</html>